main
  margin auto
  width 30em
  background-color rgba(5, 138, 243, 0.05)
  box-shadow .3em .3em .3em #ccc;
  padding 1em

label, input
  margin-right .5em

dt:after
  content: ':'

dd
  margin-bottom 1em
  word-break break-all

.centered
  text-align center